# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, coverage reports, and output files
*.out
*.test
*.coverprofile
*.cov
*.tmp

# Dependency directories
/vendor/
Gopkg.lock
Gopkg.toml
go.work
go.work.sum

# Go workspace file
*.workspace

# Logs and temporary files
*.log
*.bak
*.swp

# Directory for IDE-specific settings and files
.idea/

# JetBrains specific settings
*.iml
*.ipr
*.iws
.idea/*

# VS Code settings
.vscode/

# GoLand IDE specific cache & settings
/.idea/
/out/

# Build and IDE specific files
/.goland/

/.DS_Store


# Local env files
.env
