name: Generate SDK and Version (Test)

on:
  push:
    branches:
      - feature/new-openapi-invokes-generation
    paths:
      - 'openapi/openapi.json'

permissions:
  contents: write

jobs:
  generate-sdk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'

      - name: Install oapi-codegen
        run: go install github.com/deepmap/oapi-codegen/cmd/oapi-codegen@latest

      - name: Generate sdk.go
        run: oapi-codegen -generate types,client,spec -package oapiclient -o ./sdk/oapicodegenfromdoc.json ./openapi/openapi.json

      - name: Generate version.go
        run: |
          TAG="v1.0.0-test"  # Use a test version
          cat <<EOF > ./sdk/version.go
          package oapiclient
          
          // Version of the SDK
          const Version = "$TAG"
          EOF

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit changes
        run: |
          git add sdk/oapicodegenfromdocjson.go sdk/version.go
          git commit -m "Generate oapicodegenfromjson.go and version.go for test version"

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: feature/new-openapi-invokes-generation
